/* Hide number input spinners completely */
.mr-input::-webkit-outer-spin-button,
.mr-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.mr-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
